<!-- Modal Add (Permet d'ajouter un nouvel adhérent) -->
<div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="modalAddLabel"
     aria-hidden="true" xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddLabel">Ajout d'un adhérent</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('add') }}" method="post">
                    <input type="text" name="matricule" id="matricule" hidden value="">
                    <label for="inNom"><b>Nom : </b></label>
                    <input type="text" id="nom" name="nom" value="" required>
                    <br>
                    <label for="inPrenom"><b>Prénom : </b></label>
                    <input type="text" id="prenom" name="prenom" value="" required>
                    <br>
                    <label for="inVille"><b>Ville : </b></label>
                    <input type="text" id="ville" name="ville" value="" required>
                    <br>
                    <label for="inCp"><b>Code postal : </b></label>
                    <input type="text" id="cp" name="cp" value="" required>
                    <br>
                    <label for="inStatus"><b>Status : </b></label>
                    <select name="type" id="type">
                        {% for t in type %}
                            <option value="{{ t[0] }}">{{ t[1] }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="inNiveau"><b>Niveau : </b></label>
                    <select name="niveau" id="niveau">
                        {% for n in nivo %}
                            <option value="{{ n[0] }}">{{ n[1] }}</option>
                        {% endfor %}
                    </select>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Ajouter l'adhérent</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>